# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Env settings
.env

# SQLite
db.sqlite3

# Git
.git/
.gitignore

# Readme
REAGME.md

# Docker
Dockerfile
docker-compose.yml